VITE_API_URL="http://localhost:3000"
VITE_GOOGLE_MAPS_API_KEY=""
VITE_GOOGLE_CLIENT_ID=""
VITE_CLOUDINARY_CLOUD_NAME=""
VITE_CLOUDINARY_UPLOAD_PRESET=""
VITE_PAYPAL_CLIENT_ID=""
VITE_SUPPORT_EMAIL="soportemacaw@gmail.com"